html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    max-width: 100%;
    overflow-x: hidden;
}

table {
    width: 100%;
    td {
        padding: 12px 0;
    }
}

label {
    padding-bottom: 12px;
}

.sidepanel {
    padding: 12px;
}

#map { position:absolute; top:0; bottom:0; width:100%; }
